Source: droidian-fpd
Section: misc
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Build-Depends: debhelper-compat (= 13),
               cmake,
               qt6-base-dev,
               libqt6dbus6,
               libqt6core6,
               libqt6network6,
               android-headers,
               libhybris-dev,
               g++,
               libc6-dev,
Standards-Version: 4.5.1

Package: droidian-fpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libgbinder-tools,
Description: Droidian fingerprint daemon
  Droidian fingerprint daemon
